@import url('common.css');

html,body{-ms-overflow-style: none;}
::-webkit-scrollbar {display: none;}

/*=== intsta_introduce ===*/
main .contents{
    display: flex;
}
main .insta_st{
    position: fixed;
    top: 100%; left: 0;
    width: 15.4vw; height: 64vh;
    overflow: auto;
    background: #fffdfe;
    font-size: 1.5rem;
    transition:.8s;
    box-shadow: 0.6rem 0.6rem 0.8rem #999;
}

.btn_close{
    display: none;
    width: 3rem; height: 3rem;
    background: #93a7a6;
    color: #fffdfe;
    font-size: 2.5rem;
    text-align: center; line-height: 3rem;
    position: absolute;
    top: ; right: -3.1rem;
    box-shadow: 0.6rem 0.6rem 0.8rem #999;
}

.insta_st .name{
    height: 6.3vh;
    display: flex;
    align-items: center;
    padding: 0 0.5vw;

}
.insta_st .name span{
    display: inline-block;

}
.insta_st .name > span{
    width: 4rem; height: 4rem;
    background: #93a7a6;
    color: #fffdfe;
    font-size: 3rem;
    text-align: center;
    line-height: 4rem;
    border-radius: 50%;
}
.insta_st .name b{
    margin: 0 7.3vw 0 0.4vw;
}
.dot{
    position: relative;
    width: 0.5rem; height: 2rem;
}
.insta_st .name .dot span{
    position: absolute;
    right: 0;
    width: 0.5rem; height: 0.5rem;
    background: #838383;
    border-radius: 100%;
}
.insta_st .name .dot span:nth-of-type(1){top: 0; }
.insta_st .name .dot span:nth-of-type(2){top: 50%;}
.insta_st .name .dot span:nth-of-type(3){top: 100%;}

.insta_st .photo{
    height: 27.5vh;
    padding: 0;
    background: #eee;
    overflow: hidden;
}
.insta_st .photo img{
    width: 100%;
}

.insta_st .icon{
    position: relative;
    height: 3.7vh;
    padding: 0.7vh 0.5vw 0 0.5vw;

}
.insta_st .icon img{
    height: 1.9vh;
    margin-right: 0.5vw;
}
.insta_st .icon img:last-of-type{
    position: absolute;
    margin: 0;
    right: 0.5vw;
}

.insta_st .txt{
    height: 17.5vh;
    white-space: pre-line;
    padding: 0 0.5vw;
}
 .insta_st .tag{
     padding: 0 0.5vw;
}

.insta_st .tag, .insta_st .tag a{
    color: #03519b;
    line-height: 1.2;
}

/*=== page 01 ===*/
h1{z-index: 1;}
.con_info{
    position: absolute;
    bottom: 100%; right: 0;
    width: 60.6vw; height: 65vh;
    overflow:auto;
    transition:.8s;
    background: #fffdfe;
}

h2{
    font-size: 2.5rem;
    color: #0d548a;
    margin-top: 2.7vh;
    margin-bottom: 4.6vh;
}
.page_01{
    position: absolute;
    top: 0%; left: 5vw;
    width: 100%; height: 100%;
    display: flex;
}
.page_02{
    position: absolute;
    top: 100%; left: 5vw;
    width: 100%; height: 100%;
}

.education{
    position: relative;
    width:50%;
}
.experience{
    width:50%;
}
table{
    height:53vh;
    white-space: pre-line;
    text-align: left;
}
table tr{}
table tr th:nth-of-type(1){
    font-size: 2rem;
    padding-right: 1.5vw;
    border-right: 2px solid #03519b;
}
table tr th:nth-of-type(2){
    font-size: 1.5rem;
    line-height: 1.7;
    padding-left: 1.5vw;
}

.scroll{
    position: fixed;
    bottom: 2rem; right: 2rem;
    transform: translateX(-50%);
    height: 3rem;
    animation: scroll 1.5s linear infinite;
    
    opacity: 0;
    transition: 1s;
}
@keyframes scroll{
    0%{transform:translateY(0);}
    25%{transform:translateY(-15%);}
    50%{transform:translateY(0%);}
    75%{transform:translateY(15%);}
    100%{transform:translateY(0);}
}

/*=== page 02 ===*/
.skills{
    height: 65%;
}

.skills h3{
    font-size:2rem;
    margin-bottom: 3.7vh;
}
.skills > div{
    width: 100%;
    display: flex;
}
.sw{width: 70%;}
.sw article > div{
    width: 90%;
    display: flex;
}
.sw article:last-of-type h3{
    margin-top: 3.5vh;
}
.sw article:last-of-type figure{
    width: 10%;
}
.sw figure{
    width: 50%;
    margin-bottom: 3.5vh;
    margin-left: 1vw;
    display: flex;
    align-items: center;
}
.sw figure img{
    width: 3vw;
}
.sw figure figcaption{
    position: relative;
    width: 8rem; height: 1.3rem;
    margin-left: 3rem;
}
.sw figure figcaption span{
    position: absolute;
    top: 0; left: 0;
    width: 1.1rem; height: 1.1rem;
    border: 2px solid #b22234;
    background: #b22234;

}
.sw figure figcaption span:nth-of-type(2){left: 25%;}
.sw figure figcaption span:nth-of-type(3){left: 50%;}
.sw figure figcaption span:nth-of-type(4){left: 75%;}
.sw figure figcaption span:nth-of-type(5){
    left: 100%;
    background: none;
}
.js figcaption span:nth-of-type(4), .jquery figcaption span:nth-of-type(4), .ps figcaption span:nth-of-type(4){
    left: 75%;
    background: none;
}

.lang{
    width: 30%;
}
.lang img{
    display: flex;
    height: 3vw;
    margin-top: 2.4vw;
}

/*==========================================================================*/
@media (max-width:1024px){
    
    .btn_close{
        display: inline-block;
    }
    main .insta_st{
        z-index: 1;
        top: 100%; left: 0;
        overflow: visible;
        width: 27.5rem; height: 70rem;
    }
    main .insta_st.active{
        left: -27.5rem;
    }
    .insta_st .name{
        height: 7.5rem;
    }
    .insta_st .name b{
        margin: 0 13rem 0 1rem;
    }
    .insta_st .photo{
        height: 29.5rem;
    }
    .insta_st .icon{
        height: 3.5rem;
        margin: 0 1rem;
        padding: 1rem 0;
    }
    .insta_st .txt{
        height: 20rem;
        padding: 1rem 1rem;
    }
    .insta_st .tag{
         padding: 1rem 1rem;
    }
    /*==========================================*/
    .con_info{
        width: 100%; height: 90vh;
        z-index: -1;
        background: rgba(255, 253, 254, 0.3);
/*        overflow: visible;*/
    }
    h2{
        margin-top:0;
    }
    .scroll{
        top: 9vh; right: 50%;
        transform: translateX(-50%);
    }

    .page_01{
        position: relative;
        top: 15vh; left: 10vw;
        width: 100%; height: calc(100% - 17.5vh);
        display: flex;

    }
    .page_02{
        position: relative;
        top: calc(100% - 17.5vh); left: 10vw;
        width: 100%; height: calc(100% - 17.5vh);
    }

    
    



    





}

@media (max-width:768px){
    
}














