@import url('common.css');

html,body{-ms-overflow-style: none;}
::-webkit-scrollbar {display: none;}

/*=== intsta_introduce ===*/
main .contents{
    display: flex;
}
main .insta_st{
    position: fixed;
    top: 100%; left: 0;
    width: 15.4vw; height: 36vw;
    overflow: auto;
    background: #fffdfe;
    font-size: 1.5rem;
    transition:.8s;
    box-shadow: 0.6rem 0.6rem 0.8rem #999;
}

.insta_st .name{
    height: 3.5vw;
    display: flex;
    align-items: center;
    padding: 0 0.5vw;

}
.insta_st .name span{
    display: inline-block;
}
.insta_st .name > span{
    width: 4rem; height: 4rem;
    background: #e1e1e1;
    border-radius: 50%;
}
.insta_st .name b{
    margin: 0 7.3vw 0 0.4vw;
}
.dot{
    position: relative;
    width: 0.25vw; height: 1vw;
}
.insta_st .name .dot span{
    position: absolute;
    right: 0;
    width: 0.25vw; height: 0.25vw;
    background: #838383;
    border-radius: 100%;
}
.insta_st .name .dot span:nth-of-type(1){top: 0; }
.insta_st .name .dot span:nth-of-type(2){top: 50%;}
.insta_st .name .dot span:nth-of-type(3){top: 100%;}

.insta_st .photo{
    height: 15.4vw;
    padding: 0;
    background: #eee;
}

.insta_st .icon{
    position: relative;
    height: 2vw;
    padding: 0.4vw 0.5vw 0 0.5vw;

}
.insta_st .icon img{
    height: 2rem;
    margin-right: 0.5vw;
}
.insta_st .icon img:last-of-type{
    position: absolute;
    margin: 0;
    right: 0.5vw;
}

.insta_st .txt{
    height: 10vw;
    white-space: pre-line;
    padding: 0 0.5vw;
}
 .insta_st .tag{padding: 0 0.5vw;}

.insta_st .tag, .insta_st .tag a{
    color: #03519b;
    line-height: 1.2;
}

/*=== page 01 ===*/
h1{z-index: 1;}
.con_info{
    position: absolute;
    bottom: 100%; right: 0;
    width: 60.6vw; height: 36.5vw;
    overflow:auto;
    transition:.8s;
    background: #fffdfe;
}

h2{
    font-size: 2.5rem;
    color: #0d548a;
    margin-top: 1.3vw;
    margin-bottom: 3vw;
}
.page_01{
    position: absolute;
    top: 0%; left: 5vw;
    width: 100%; height: 100%;
    display: flex;
}
.page_02{
    position: absolute;
    top: 100%; left: 5vw;
    width: 100%; height: 100%;
}

.education{
    position: relative;
    width:50%;
}
.experience{
    width:50%;
    margin-left: 4vw;
}
table{
    height: 28vw;
    white-space: pre-line;
    text-align: left;
}
table tr{}
table tr th:nth-of-type(1){
    font-size: 2rem;
    padding-right: 1.5vw;
    border-right: 2px solid #03519b;
}
table tr th:nth-of-type(2){
    font-size: 1.5rem;
    line-height: 1.7;
    padding-left: 1.5vw;
}

.scroll{
    position: fixed;
    bottom: 1rem; right: 1rem;
    transform: translateX(-50%);
    height: 3rem;
    animation: scroll 1.5s linear infinite;
    
    opacity: 0;
    transition: 1s;
}
@keyframes scroll{
    0%{transform:translateY(0);}
    25%{transform:translateY(-15%);}
    50%{transform:translateY(0%);}
    75%{transform:translateY(15%);}
    100%{transform:translateY(0);}
}

/*=== page 02 ===*/
.skills{
    height: 65%;
}

.skills h3{
    font-size:2rem;
    margin-bottom: 2vw;
}
.skills > div{
    width: 100%;
    display: flex;
}
.sw{width: 70%;}
.sw article > div{
    width: 90%;
    display: flex;
}
.sw article:last-of-type h3{
    margin-top: 3.3vw;
}
.sw article:last-of-type figure{
    width: 15%;
}
.sw figure{
    width: 50%;
    margin-bottom: 2vw;
    margin-left: 1vw;
    display: flex;
    align-items: center;
}
.sw figure img{
    width: 3vw;
}
.sw figure figcaption{
    position: relative;
    width: 8rem; height: 1.3rem;
    margin-left: 3rem;
}
.sw figure figcaption span{
    position: absolute;
    top: 0; left: 0;
    width: 1.1rem; height: 1.1rem;
    border: 2px solid #b22234;
    background: #b22234;

}
.sw figure figcaption span:nth-of-type(2){left: 25%;}
.sw figure figcaption span:nth-of-type(3){left: 50%;}
.sw figure figcaption span:nth-of-type(4){left: 75%;}
.sw figure figcaption span:nth-of-type(5){
    left: 100%;
    background: none;
}
.js figcaption span:nth-of-type(4), .jquery figcaption span:nth-of-type(4), .ps figcaption span:nth-of-type(4){
    left: 75%;
    background: none;
}

.lang{
    width: 30%;
}
.lang img{
    display: flex;
    height: 3vw;
    margin-top: 2.4vw;
}

/*==========================================================================*/
@media (max-width:1024px){





}

@media (max-width:768px){
    
}














