@import url(https://fonts.googleapis.com/css?family=Inconsolata:700);

html {font-size: 62.5%;}
html,body {
    width: 100%;
    background: #f4f4f4;
    margin: 0;
}
*{
    color:#1b1b2f;
    font-family: 'Inconsolata';
}

ul,li {
    margin: 0;padding: 0;
    list-style: none;}
h1,h2,h3,h4,h5,h6,p,figure{margin: 0; padding: 0;}
* {box-sizing: border-box;}
a {text-decoration: none; color: #1b1b2f;}
table{border-collapse: collapse;}

/*=== header ===*/

header{
    position: fixed;
    left: 0; top: 100%;
    width: 100vh; height: 9.3vw;
    transform:rotate(-90deg);
    transform-origin: left top;
    background: #fffdfe;
}

/*=== navi ===*/
header nav{
    line-height: 9.3vw;
}
header .navi{
    position: relative;
    display: flex;
    justify-content: center;
}
header .navi li{
    font-size: 2rem;
}
header .navi li a{
    transition: .5s;
}

header .navi .menu{
    display: inline-block;
}
header .navi .menu a{
    cursor: pointer;
    padding: 2vh;
}

/*=== logo footer ===*/
header .logo{
    position: fixed;
    right: 2vh; bottom: -1.5rem;
    transform: rotate(90deg);
    z-index: 13;
    font-size: 3.5rem;
}
header .footer{
    position: fixed;
    top: 50%; left: 0;
    transform: rotate(90deg) translateX(-50%);
    z-index: 13;
    font-size: 10px;
}

/*=== main ===*/

main{
    width: 90.7vw;
    transform: translateX(9.3vw);
}

main .contents{
    position: relative;
    margin: auto;
    width: 80vw; height: 65vh;
    transform: translateY(calc(50vh - 50%));
}
main .hidden{
    position: relative;
    width: 100%; height: 100%;
    overflow: hidden;
    transform: rotate(0deg);
}

h1{
    position: fixed;
    z-index: -1;
    top: -4.5vh; right: -2vw;
    font-size: 6rem;
    text-shadow: 0.2rem 0.2rem 0.4rem #999;
    color:  #f4f4f4;
    opacity: 0; transition: 1.2s;
}


/*==========================================================================*/

@media (max-width:1024px){
    html{width: 100vw; height: 100vh; overflow: hidden;}

    header{
        left: 0; top:0;
        z-index: 15;
        width: 100vw; height: 10vh;
        transform:rotate(0);
    }
    header nav{
        line-height: 10vh;;
    }
    header .logo{
        display: inline-block;
        width: 10%;
        left: 5vw; bottom: 50%;
        transform: translateY(50%) rotate(0);
    }
    header .footer{
        display: none;
    }
    main{
        width: 100vw; height: 90vh;
        transform: translateY(10vh);
    }
    main .contents{
        width: 100%; height: 100%;
        transform: translateY(0);
        
/*        border: 1px solid #f00;*/
    }
    main .hidden{
        width: 100%; height: 100%;
        overflow: hidden;
        transform: translateY(0);
        
/*        border: 1px solid #000;*/
    }
    h1{
        position: fixed;
        top: 2vh; right: 4vw;
    }
}

@media (max-width:768px){
    
}



