@import url(https://fonts.googleapis.com/css?family=Inconsolata:700);

html {font-size: 62.5%;}
html,body {
    width: 100%;
    background: #f4f4f4;
    margin: 0;}
*{
    color:#1b1b2f;
    font-family: 'Inconsolata';
}

ul,li {
    margin: 0;padding: 0;
    list-style: none;}
h1,h2,h3,h4,h5,h6,p{margin: 0; padding: 0;}
* {box-sizing: border-box;}
a {text-decoration: none; color: #1b1b2f;}
table{border-collapse: collapse;}

/*=== header ===*/

header{
    position: fixed;
    left: 0; top: 100%;
    width: 100vh; height: 9.3vw;
    transform:rotate(-90deg);
    transform-origin: left top;
    background: #fffdfe;
}

/*=== navi ===*/
header nav{
    line-height: 9.3vw;
}
header .navi{
    position: relative;
    display: flex;
    justify-content: center;
}
header .navi li{
    font-size: 1.7rem;
}
header .navi li a{
}
header .navi .menu{
    display: inline-block;
}
header .navi .menu a{
    cursor: pointer;
    padding: 2vh;
}


header .navi .menu:last-of-type{
    position: relative;
} 
.pop_contact{

}
.pop_contact span{
    
}

/*=== logo footer ===*/
header .logo{
    position: fixed;
    right: 2.5vw; bottom: 0;
    transform: rotate(90deg);
    z-index: 13;
    font-size: 3.5rem;
}
header .footer{
    position: fixed;
    top: 2.5vw; left: 0;
    transform: rotate(90deg) translateX(50%);
    z-index: 13;
    font-size: 10px;
}

/*=== main ===*/

main{
    width: 90.7vw;
    transform: translateX(9.3vw);
}
main .contents{
/*    border: 1px solid #000;*/
    position: relative;
    margin: auto;
    width: 74vw; height: 36.5vw;
    transform: translateY(calc(100vh/2 - 50%));

}
main .hidden{
    position: relative;
    width: 100%; height: 100%;
    overflow: hidden;
    transform: rotate(0deg);
}

h1{
    position: fixed;
    z-index: -1;
    top: -5vh; right: -2vw;
    font-size: 6rem;
/*    text-shadow: 0.2rem 0.2rem 0.3rem #c7c6c6;*/
    color: #dbdbdb;
    opacity: 0; transition: 1.2s;

}











