@import url('common.css');
html,body{-ms-overflow-style: none;}
::-webkit-scrollbar {display: none;}

main .contents{
    height: 100vh;
}
h1{
    top: 13vh;
}
.scroll{
    position: absolute;
    top: 7vh; right: 50%;
    transform: translateX(-50%);
    height: 3rem;
    animation: scroll 1.5s linear infinite;
    
    opacity: 0;
    transition: 1.2s;

}
@keyframes scroll{
    0%{transform:translateY(0);}
    25%{transform:translateY(-15%);}
    50%{transform:translateY(0%);}
    75%{transform:translateY(15%);}
    100%{transform:translateY(0);}
}

main .hidden{
    width: 100%; height: 100%;
    overflow: auto;
    transform:translateY(-100vh);
    transition: .8s;
}
/*
main .hidden > div{
    margin-bottom: 17.5vh;
}
*/

/*============================================*/

.work{
    height: 28vh;
    margin-bottom: 19vh;
    display: inline-block;
    position:relative;
    box-shadow: 0.6rem 0.6rem 0.8rem #999;
}

.work:nth-of-type(2n-1){
    float: left;
    top: 17.5vh;
}
.work:nth-of-type(2n){
    float: right;
    top:37.5vh; right: 1rem;
}

.work figure b{
    position: absolute;
    top:-2.3vh; left: 2.1vw;
    font-size: 3.5rem;
    color: rgba(20,20,20,0.7);
}
.work .bref, .work .order{
    position: absolute;
}

.work:nth-of-type(2n-1) .bref{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    top: 30%; left: calc(100% + 1vw);
}
.work:nth-of-type(2n) .bref{
    top: -2.8vh; right: 1.6vw;
}

.work figure{
    height: 100%;
    position: relative;
    margin: 0;
}

.work figure img{
    height: 100%;
    object-fit: contain;
}

.work figure figcaption{
    font-size: 1.5rem;
}
.work .order{
    bottom: -2.5vh; left: 0.5vw;
}
.work .order span:last-of-type{
    color:rgba(150,150,150,0.8);
}

/*==========================================================================*/
@media (max-width:1024px){
    h1{top: 2vh;}
    main .contents{
        height: 90vh;
    }
    main .hidden{
        width: 95%;
        margin: 0 auto;
    }
    .scroll{display: none;}
    .work{
        margin-bottom: 5vh;
    }
    .work:nth-of-type(2n-1){
        top: 15vh;
    }
    .work:nth-of-type(2n){
        top: 15vh;
    }
    .work .bref, .work .order,.work:nth-of-type(2n-1) .bref {
        display: none;
    }
}

@media (max-width:768px){
    
}


