@import url('common.css');

html,body{-ms-overflow-style: none;}
::-webkit-scrollbar {display: none;}

h1 {
    color: #1b1b2f; 
    z-index: 1;
}
main .hidden {display: flex;}

/*================================================*/

main .con_viewer{
    width: 50%; height: 100%;
    position: relative;
    top:100%;
    transition: .8s;
}
main .con_viewer .note{
    display: inline-block;
    font-size: 2rem;
    position: relative;
    transform: translate(2vw,1.5vw);
}

main .con_viewer .m_com{
    position: relative;
    width: 100%; height: 100%;
}
main .con_viewer .m_com > img{
    width: 90%;
    position: absolute;
    top: 50%; left: 0;
    z-index: 0;
    transform: translateY(-50%);
}
.m_com .con_com{
    width: 75%; height: 50%;
    position: absolute;
    z-index: 1;
    top: 19%; left: 8.5%;
    overflow:auto;
}
.m_com .con_com > img{
    width: 100%;
}

main .con_viewer .m_mob{
    width: 100%; height: 100%;
}
main .con_viewer .m_mob > img{
    width: 30%;
    position: absolute;
    bottom: 3.5vw; right: -3vw;
    z-index: 1;
}
.m_mob .con_mob{
    width: 20%; height: 41%;
    position: absolute;
    z-index: 2;
    bottom: 7.2vw; right: -0.8vw;
    overflow:auto;
}
.m_mob .con_mob > img{
    width: 100%;
}

/*================================================*/

main .con_info{
    width: 50%; height: 100%;
    transform: translateY(-100%);
    transition: .8s;
    background: #fcfdfd;
    padding: 7.2vw 5.5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
}

main .con_info .git{
    font-size: 2.5rem;
    color: #0d548a;
    padding: 0.5rem;
    border-top: 2px solid #0d548a;
    border-bottom: 2px solid #0d548a;
}
main .con_info .git:hover{
    color: #b22234;
    border-top: 2px solid #b22234;
    border-bottom: 2px solid #b22234;
}

main .con_info .info_bref{
    font-size: 1.5rem;
    margin: 5vw 0 4.5vw 0;
    line-height: 2;
}
main .con_info .info_detail{
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.7;
}

main .con_info .return{
}
main .con_info .return img{
    height: 1.5rem;
    position: fixed;
    right: 2.5vw; bottom: 3vw;
}

/*==========================================================================*/
@media (max-width:1024px){



}

@media (max-width:768px){
    
}






